/* Theme file: dark */

.dark {
  /* fonts */
  --font: 'Proxima Nova';
  --font-semibold: 'Proxima Nova Semibold';
  --font-bold: 'Proxima Nova Bold';
  --font-default: sans-serif;
  --font-mono: monospace;

  /* color scheme */
  --app-color-main: #191a1b;
  --app-color-alt: #252627;
  --app-font-color: #e5e5e5;
  --app-font-color-dimmed: #b7b7b7;
  --app-font-color-dimmedstrong: #8c8c8c;

  /* navbar */
  --separator: rgba(240, 240, 240, .15);
  
  --spinner-color: #00e6ff;

  --tab-text: #b7b7b7;
  --tab-bg: transparent;
  --tab-text-hover: #e5e5e5;
  --tab-bg-hover: #252627;
  --tab-text-select: #e5e5e5;
  --tab-bg-select: #2c2d2e;

  /* buttons */
  --button-bg: #16a085;
  --button-text: #cfcfcf;
  --button-bg-hover: #2b678f;
  --button-text-hover: #cfcfcf;

  --button-donothing: #8c8c8c;
  --button-warn: #b11010;

  /* notification */
  --notification-bg: rgba(11, 11, 11, .7);
  --notification-border: #444;
  --notification-text: #e5e5e5;
  --notification-bg-hover: rgba(11, 11, 11, .9);
  --notification-text-hover: #cfcfcf;

  /* item list */
  --item-border: #252627;
  --item-bg: #191a1b;
  --item-text: #e5e5e5;

  --item-title-bg: rgba(0, 0, 0, .5);
  --item-title-shadow: 0 0 20px black;
  --item-title: #cfcfcf;
  --item-year: #b7b7b7;
  --item-eptitle: #b7b7b7;

  /* lists */
  --scrollbar-track: transparent;
  --scrollbar: #eee;
  --scrollbar-hover: #e5e5e5;
  --waitbounce: #252627;

  /* local list */
  --category-text: #e5e5e5;
  --category-border: #aaa;
  --category-bg: transparent;
  --category-text-hover: #e5e5e5;
  --category-border-hover: #252627;
  --category-bg-hover: #252627;

  --localitem-main: #191a1b;
  --localitem-main-hover: #252627;
  --localitem-season: #252627;
  --localitem-season-hover: #2c2d2e;
  --localitem-episode: #2c2d2e;
  --localitem-episode-hover: #3d3d3f;

  --localitem-border: #2d2d2d;
  --localitem-text: #e5e5e5;
  --localitem-subtext: #dfdfdf;

  /* settings */
  --settings-lines: #2f2f2f;
  --settings-text: #cfcfcf;

  --localpaths-bg-hover: rgba(0, 0, 0, .1);
  --localpaths-bg-select: rgba(0, 0, 0, .3);
  --localpaths-text-select: #cfcfcf;

  --yesno: #dadada;
  --slider-bg: #16a085;
  --slider-selector: #cfcfcf;
  --dropdown-bg: #252627;
  --dropdown-text: #e5e5e5;
  --input-placeholder: #a5a9b0;
  --input-text: #ccc;
  --input-bg: rgba(255, 255, 255, .1);

  /* about */
  --icons-hover-bg: rgba(240, 240, 240, .2);

  /* stats */
  --stats-box: rgba(0, 0, 0, .5);
}