/* Theme file: dark */

body {
    background-color: #1d1d1d;
    color: #fafafa;
}

#notification {
    color: #f5f7fa;
}

#notification a {
    color: #de5362;
}

#notification-snack {
    background: rgba(48, 48, 48, .7);
    color: #f5f7fa;
    border: 1px solid #666;
}

#notification-snack:hover {
    background: rgba(60, 60, 60, .8);
}

input {
    border-color: transparent;
}

::-webkit-input-placeholder {
    color: #a5a9b0;
}

::-moz-placeholder {
    color: #a5a9b0;
}

:-moz-placeholder {
    color: #a5a9b0;
}

:-ms-input-placeholder {
    color: #a5a9b0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #eee;
    transition: all .5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #fafafa;
}

.ui-tooltip {
    background: rgba(50, 50, 50, .8);
    color: #eee;
}

#collection .row > div {
    border-bottom: solid 1px #2d2d2d;
    border-right: solid 1px #2d2d2d;
}

#navbar {
    color: #fafafa;
    border-right: solid 1px #2d2d2d;
    background-color: #1d1d1d;
}

#collection .quick-icons {
    color: #fafafa;
    background-color: #1d1d1d;
}

#collection .row > div {
    border-bottom: solid 1px #2d2d2d;
    border-right: solid 1px #2d2d2d;
}

.actions .watched {
    color: #8e44ad;
    background-color: transparent;
}
.actions .watched.selected,
.actions .watched:hover {
    color: #fafafa;
    background-color: #8e44ad;
}

.actions .play {
    color: #aaa;
    background-color: transparent;
}
.actions .play:hover {
    color: #fafafa;
    background-color: #555;
}

.actions .trailer {
    color: #2b678f;
    background-color: transparent;
}
.actions .trailer:hover {
    color: #fafafa;
    background-color: #2b678f;
}