/*
 * Notifications
 */

#notification {
    font-size: 10px;
    bottom: 0;
    left: 0;
    padding: 2px 5px;
    position: absolute;
}

#notification a {
    text-decoration: none;
}

#notification-snack {
    position: fixed;
    display: none;
    border-radius: 5px;
    top: 20px;
    right: 25px;
    z-index: 3;
    padding: 15px 25px;
    text-align: center;
    line-height: 16px;
    font-size: 15px;
    min-width: 200px;
    max-width: 280px;
    overflow: auto;
    transition: all .3s;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}


/*
 * KEYBOARD SHORTCUTS
 */

.keyboard {
    margin-top: 15px;
}

.shortcut {
    width: 75%;
    padding: 5px 12.5%;
    display: -webkit-box;
    font-size: 13px;
}

.shortcut .keys {
    width: 120px;
}

.shortcut i18n {
    line-height: 25px;
}

.shortcut .key {
    display: inline-block;
    color: #1a1a1a;
    font: bold 8pt arial;
    text-decoration: none;
    text-align: center;
    width: 23px;
    height: 18px;
    background-color: #eff0f2;
    border-radius: 5px;
    border-top: 1px solid #dedede;
    box-shadow: inset 0 0 25px #e8e8e8, 0 1px 0 #c3c3c3, 0 2px 0 #c9c9c9, 0 2px 3px #333;
    text-shadow: 0px 1px 0px #f5f5f5;
    padding: 3px 0 0;
}

.shortcut .key.esc {
    padding: 6px 2px 0 2px;
    text-transform: capitalize;
}

.shortcut .key.control,
.shortcut .key.alt,
.shortcut .key.tab {
    width: 38px;
    text-transform: capitalize;
}

.shortcut .key.enter {
    width: 44px;
    text-transform: capitalize;
}


/*
 * GENERAL
 */

body {
    cursor: default;
    text-rendering: optimizeSpeed;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

img,
a {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

a {
    cursor: pointer;
}

.button {
    position: relative;
    cursor: pointer;
    transition: all .3s;
    text-align: center;
    border-radius: 3px;
}

input {
    border-width: 1px;
    border-style: solid;
    padding-left: 1px;
    padding-right: 2px;
    font-size: 13px;
    border-radius: 3px;
}

.metadata .content .metaitem input:read-only,
.metadata .content .metaitem textarea:read-only {
    font-style: italic;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
    opacity: 1;
}

:-moz-placeholder {
    font-style: italic;
    opacity: 1;
}

:-ms-input-placeholder {
    font-style: italic;
}


/* scrollbars */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: all .5s;
}


/* tooltips */

.ui-tooltip {
    padding: 4px 8px;
    position: absolute;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9999;
    max-width: 300px;
}

.ui-helper-hidden-accessible {
    display: none;
}


/* init */

#traktinit,
#requirempv,
#traktwelcome {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin-top: 95px;
}

#traktinit p,
#requirempv p,
#traktwelcome p {
    margin: 15px 0;
    font-size: 14px;
}

#traktinit img,
#requirempv img,
#welcomeprofile img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

#welcomeprofile {
    display: none
}

#init .spinner {
    margin: 40px auto;
}

#init,
#traktwelcome,
#traktwelcome .spinner,
#requirempv,
#navbar,
#collection,
#shows,
#movies,
#locals,
#locals .items.movies,
#locals .items.shows,
#locals .items.unmatched,
#settings,
#trailer,
#history,
#discover,
#about,
#legal,
#details,
#details #details-next {
    display: none;
}

#traktinit button,
#requirempv button {
    display: inline-block;
    font-size: 15px;
    width: 170px;
    height: 55px;
    margin: 40px 0 10px 0;
    font-weight: 600;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    transition: all .3s;
}

#traktinit #traktCode {
    display: none;
    text-align: center;
    margin: 40px 0 10px 0;
    font-size: 20px;
    width: 170px;
    height: 55px;
}

#traktinit a,
#requirempv a {
    display: block;
    font-size: 13px;
}


/* traktwelcome END */

/* spinner */

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
}

#navbar .fa-spin {
    position: absolute;
    font-size: 16px;
    margin-top: -7px;
    margin-left: -7px;
    opacity: 0;
    transition: all .5s;
}


/* collection item */

#collection .item-spinner {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#collection .item-spinner .fa-spin {
    font-size: 50px;
    position: absolute;
    top: calc(50% - 40px);
    right: calc(50% - 25px);
}

#collection .fanart,
#trakt .fanart {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;
}

#collection .fanart .corner-rating,
#trakt .fanart .corner-rating {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #b11010 transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#collection .fanart .corner-rating span,
#trakt .fanart .corner-rating span {
    color: #fff !important;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: -22px;
    width: 15px;
    height: 30px;
    text-align: center;
    line-height: 12px;
    transform: rotate(45deg);
}

#collection .fanart img,
#trakt .fanart img {
    width: 100%;
    opacity: 1;
    transition: all .5s;
}

#collection .row,
#trakt #history.row,
#trakt #discover .row {
    width: calc(100% - 55px);
    position: absolute;
    right: 10px;
}

#collection .row > div,
#collection .grid-item,
#discover .row > div,
#discover .grid-item {
    padding: 0;
}

#collection .row > div,
#discover .row > div {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
}

#trakt #history .grid-item {
    padding: 10px;
}

#trakt #history .titles {
    text-align: center;
    padding: 5px 0;
}

#trakt #history .title,
#trakt #history .datetime {
    font-size: 1.2em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#trakt #history .datetime {
    font-size: .9em;
}

#trakt #history .spinner {
    margin: 38vh auto;
}

#trakt #history #showMore .showMore_button {
    width: 70%;
    opacity: .5;
    cursor: pointer;
    margin: 50% 15%;
    transition: opacity .4s;
    border-width: 1px;
    border-style: dashed;
}

#trakt #history #showMore .showMore_button:hover {
    opacity: .9;
}

#trakt #history #showMore .fa {
    width: 60%;
    margin: 20% 20% 10% 20%;
    text-align: center;
    font-size: 35px;
}

#trakt #history #showMore .showMore_text {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20%;
}

#collection .shadow,
#discover .shadow {
    height: 75px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
    background-repeat: repeat-x;
}

#collection .titles,
#discover .titles {
    position: absolute;
    bottom: 5px;
    left: 12px;
    right: 12px;
    height: auto;
    margin: 0;
}

#collection .titles h4,
#discover .titles h4 {
    font-size: 11px;
    display: inline-block;
    height: auto;
    margin: 0 5px 5px 0;
}

#collection .titles h4 .sxe {
    padding: 3px 5px;
}

#collection .titles h4 .ep-title,
#discover .titles h4 .ep-title {
    padding: 3px 5px;
    padding-left: 6px;
}

#collection .titles h4 .unseen {
    cursor: help;
    font-weight: bold;
    padding: 3px 5px;
}

#collection .titles h3,
#discover .titles h3 {
    margin-top: 3px;
    text-shadow: 0 0 20px black;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

#collection .titles h3 .year,
#discover .titles h3 .year {
    font-size: 14px;
    padding-left: 6px;
}

#collection .quick-icons,
#trakt .quick-icons {
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}

#collection .actions,
#trakt .actions {
    float: left;
}

#collection .actions > div,
#trakt .actions > div {
    height: 40px;
    width: 40px;
    font-size: 2.2em;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    transition: all .5s;
}

#collection .actions > div:hover,
#trakt .actions > div:hover,
#trakt .metadata > div:hover,
#collection .metadata > div:hover {
    cursor: pointer;
}

#collection .actions .trailer,
#discover .actions .trailer {
    font-size: 1.8em;
    padding-top: 7px;
}

#collection .metadata,
#trakt .metadata {
    float: right;
    padding-right: 10px;
}

#collection .metadata .percentage,
#trakt .metadata .percentage {
    font-size: 20px;
    line-height: 40px;
}

#collection .metadata .fa-heart,
#trakt .metadata .fa-heart {
    font-size: 16px;
    margin-right: 5px;
}

#collection .grid-item .data,
#trakt .grid-item .data,
#collection #locals .data {
    display: none;
}

#collection .local-item {
    line-height: 58px; /* because of border-bottom 1px */
}

#locals {
    display: none;
}

#locals .refreshing {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 10px;
    z-index: 1;
}

#locals .waitforlibrary {
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
}

#locals .local-item,
#locals .local-item .season,
#locals .local-item .episode {
    transition: all .3s;
}

#locals .local-item:hover,
#locals .local-item.active {
    cursor: pointer;
}

#locals .local-item .season {
    padding-left: 40px;
}

#locals .local-item .episode {
    margin-left: -40px;
    padding-left: 80px;
}

#locals .local-item .title {
    padding: 20px;
    font-size: 18px;
}

#locals .local-item .title,
#locals .local-item .e-title {
    white-space: nowrap;
}

#locals .local-item .season .title {
    font-size: 16px;
}

#locals .local-item .seasons,
#locals .local-item .episode {
    display: none;
}

#locals .waitforlibrary .notfound {
    display: none;
}

#locals .categories {
    display: flex;
    width: calc(100% - 60px);
    right: 0;
    position: absolute;
}

#locals .category {
    margin: 0 auto;
    justify-content: center;
    display: none;
    text-align: center;
    font-size: 40px;
    height: 200px;
    padding: 30px 60px;
    line-height: 190px;
    margin-top: 150px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 40px;
    transition: all .5s;
    cursor: pointer;
}

#locals .category .text {
    font-size: 18px;
    margin-top: 20px;
}

/* collection END */

/* navbar */

#navbar {
    width: 60px;
    z-index: 2;
    height: 100%;
    position: fixed;
    transition: all .5s;
    overflow: hidden;
    border-right-width: 1px;
    border-right-style: solid;
}

#navbar:hover {
    width: 150px;
}

#navbar .nav {
    width: 100%;
    height: 60px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s;
}

#navbar .nav .text {
    font-size: 15px;
    top: -16px;
    position: relative;
    left: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#navbar .nav.settings {
    position: absolute;
    bottom: 0;
}

#navbar .separator {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 20px 0px;
}

/* navbar END */

/* trailer popup */

#trailer {
    width: 100vw;
    position: fixed;
    height: 100%;
    z-index: 998;
    transition: all .5s;
}

#trailer .video {
    width: 65%;
    height: 60%;
    position: absolute;
    margin: 8% 17%;
}

#trailer .spinner {
    position: absolute;
    margin: 200px calc(50% - 20px);
}


/* Settings */

#settings {
    position: absolute;
    right: 0px;
    width: calc(100% - 60px);
    height: 100vh;
}

#settings .about {
    position: fixed;
    right: 15px;
    opacity: .6;
    padding: 5px;
    font-size: 20px;
    top: 10px;
    cursor: pointer;
    transition: all .5s;
}

#settings .about:hover {
    opacity: .9;
}

#settings .setting {
    width: 50%;
    margin: 20px auto;
    overflow-y: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#settings .title {
    font-size: 18px;
    margin-left: -150px;
    max-width: 150px;
    padding-right: 10px;
    line-height: 20px;
    padding-top: 20px;
    vertical-align: middle;
    position: absolute;
}

#settings .option {
    height: 60px;
}

#settings .text {
    display: inline;
    line-height: 60px;
    float: left;
}

#settings .action {
    display: inline;
    line-height: 60px;
    float: right;
    font-size: 14px;
}

#settings .action button,
#details-next .content button {
    height: 40px;
    line-height: 40px;
    width: 150px;
    border: 0px;
    border-radius: 5px;
    transition: all .3s
}

#details-next .content button {
    margin-top: 10px;
    margin-left: 20px;
}

#settings .locals .option.localbox {
    height: 160px;
}

#settings .locals .option .pathbox {
    height: 150px;
    position: relative;
}

#settings .locals .option .pathbox .paths {
    height: 100px;
    width: 304px;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#settings .locals .option .pathbox .paths li {
    list-style: none;
    font-size: 12px;
    font-family: monospace;
    padding: 5px 15px;
    line-height: 25px;
    cursor: pointer;
}

#hidden-input-local {
    display: none;
}

#settings label {
    margin-bottom: -5px;
}

#settings .mpv #mpvpath {
    display: none;
}

#settings .mpv input {
    cursor: pointer;
    height: 30px;
    padding: 10px;
    text-align: center;
    width: 150px;
    font-family: monospace;
    font-size: 12px;
}

#settings .mpv #fakempvpath {
    width: 220px;
}

#settings input[type='color'] {
    -webkit-appearance: none;
    padding: 0 10px 0 20px;
}

#settings input[type='color']::-webkit-color-swatch {
    margin: 3px -9px 3px -3px;
}


/* Settings END */

/* slider */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider:before {
    transform: translateX(23px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* slider END */

/* details */

#details {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 3;
}

#details .background {
    transition: all 1s;
    width: 100%;
    height: 100%;
    background-image: url(../images/placeholder.png);
    opacity: 0;
    background-size: cover;
    position: absolute;
    z-index: 3;
}

#details .container {
    width: 100%;
    height: 100%;
    padding: 0;
    position: absolute;
    z-index: 4;
}

#details .data {
    display: none;
}

#details #details-back {
    font-size: 30px;
    position: absolute;
    padding: 38px 2%;
    transition: all .3s;
    cursor: pointer;
}

#details #details-metadata {
    width: 85%;
    margin: 0 auto;
    padding: 25px 0px;
    height: 350px;
}

#details-metadata .ids {
    display: none;
}

#details-metadata .title {
    font-size: 45px;
    line-height: 64px;
    text-shadow: 2px 1px 10px rgba(11, 11, 11, .5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#details-metadata .ep-title {
    position: absolute;
    top: 10px;
}

#details-metadata .md-box {
    width: 100%;
    height: 234px;
    margin-bottom: 10px;
}

#details-metadata .poster {
    width: 156px;
    height: 234px;
    margin-right: 10px;
    float: left;
    background-image: url('../images/placeholder.png');
    background-size: cover;
    background-position: 50%;
    border-radius: 3px;
}

#details-metadata .md-line {
    float: right;
    width: calc(100% - 166px);
    height: 40px;
    padding-bottom: 10px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#details-metadata .md-line span:before {
    content: '\2022';
    font-size: 20px;
    margin: 0;
    line-height: 16px;
    padding: 0 10px 0 7px;
}

#details-metadata .md-line span:first-child:before {
    content: ''
}

#details-metadata .synopsis {
    float: right;
    width: calc(100% - 166px);
    overflow-y: scroll;
    height: 196px;
    padding-right: 10px;
    text-align: justify;
    font-size: 16px;
}

#details-sources,
#details-loading,
#details-spinner,
#details-next {
    height: calc(100% - 350px - 50px);
    width: 85%;
    margin: 25px auto;
}

#details-sources .query,
#details-loading .title,
#details-next .title {
    position: absolute;
    margin-top: -25px;
}

#details-sources .query {
    display: none;
}

#details-sources .query #query {
    padding: 0px 6px;
    overflow: hidden;
    width: 180px;
}

#details-sources .query .fa {
    padding: 4px 5px;
    cursor: pointer;
}

#details-sources .sources {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#details-sources .item {
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s;
}

#details-sources .item .fa {
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    width: 32px;
    float: left;
}

#details-sources .item .fa.fa-bolt {
    float: right;
}

#details-sources .item .title {
    display: inline-block;
    overflow: hidden;
    width: calc(100% - 150px);
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

#details-sources .item .great {
    color: limegreen;
}

#details-sources .item .good {
    color: yellowgreen;
}

#details-sources .item .ok {
    color: yellow;
}

#details-sources .item .usable {
    color: orange;
}

#details-sources .item .terrible {
    color: red;
}

#details-sources .item .neutral {
    color: grey;
}

#details-sources .item .size {
    opacity: .7;
    font-size: 11px;
    text-align: right;
    float: right;
    width: 85px;
    padding-right: 20px;
    padding-left: 5px;
}

#details-loading,
#details-spinner {
    display: none;
}

#details-loading #streaminfo {
    width: 75%;
    margin-right: 5%;
    float: left;
    height: 100%;
}

#details-loading #streaminfo .connection {
    margin-top: 10px;
}

#details-loading #subtitles {
    width: 20%;
    float: right;
    height: 80%;
    display: none;
    overflow-y: scroll;
}

#details-loading #subtitles .subs {
    padding-left: 5px;
}

#details-loading #subtitles .subs .sub {
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    font-size: 14px;
    opacity: .9;
    cursor: pointer;
}

#details-loading #subtitles .subs .sub .sublang {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#details-loading .file,
#details-next .content {
    font-size: 14px;
    opacity: .9;
    height: 80%;
    overflow-y: scroll;
}

#details-loading .file div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#details-loading .player {
    height: 20%;
    font-size: 20px;
}

#details-loading .player .control .fa {
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
}

#details-loading .player .control .separator {
    padding: 0 30px;
}

#details-loading .player .control .fa-font-small:before {
    font-size: 12px;
}


/* details END */

/* ratings */

.rating-hearts {
    float: left
}

.rating-hearts:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0)
}

.rating-hearts:not(:checked) > label {
    float: right;
    width: 1.22em;
    padding: 0 .2em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    line-height: 1.2;
}

.rating-hearts:not(:checked) > label:before {
    content: '\f004';
    font-family: 'FontAwesome'
}

.rating-hearts > input:checked.rating-1 ~ label {
    color: #616161
}

.rating-hearts > input:checked.rating-2 ~ label {
    color: #675b5b
}

.rating-hearts > input:checked.rating-3 ~ label {
    color: #705252
}

.rating-hearts > input:checked.rating-4 ~ label {
    color: #7a4747
}

.rating-hearts > input:checked.rating-5 ~ label {
    color: #863c3c
}

.rating-hearts > input:checked.rating-6 ~ label {
    color: #922f30
}

.rating-hearts > input:checked.rating-7 ~ label {
    color: #9e2424
}

.rating-hearts > input:checked.rating-8 ~ label {
    color: #a81918
}

.rating-hearts > input:checked.rating-9 ~ label {
    color: #b11010
}

.rating-hearts > input:checked.rating-10 ~ label {
    color: #b70a0a
}

.rating-hearts:not(:checked) > label:hover.rating-1,
.rating-hearts:not(:checked) > label:hover.rating-1 ~ label {
    color: #616161 !important
}

.rating-hearts:not(:checked) > label:hover.rating-2,
.rating-hearts:not(:checked) > label:hover.rating-2 ~ label {
    color: #675b5b !important
}

.rating-hearts:not(:checked) > label:hover.rating-3,
.rating-hearts:not(:checked) > label:hover.rating-3 ~ label {
    color: #705252 !important
}

.rating-hearts:not(:checked) > label:hover.rating-4,
.rating-hearts:not(:checked) > label:hover.rating-4 ~ label {
    color: #7a4747 !important
}

.rating-hearts:not(:checked) > label:hover.rating-5,
.rating-hearts:not(:checked) > label:hover.rating-5 ~ label {
    color: #863c3c !important
}

.rating-hearts:not(:checked) > label:hover.rating-6,
.rating-hearts:not(:checked) > label:hover.rating-6 ~ label {
    color: #922f30 !important
}

.rating-hearts:not(:checked) > label:hover.rating-7,
.rating-hearts:not(:checked) > label:hover.rating-7 ~ label {
    color: #9e2424 !important
}

.rating-hearts:not(:checked) > label:hover.rating-8,
.rating-hearts:not(:checked) > label:hover.rating-8 ~ label {
    color: #a81918 !important
}

.rating-hearts:not(:checked) > label:hover.rating-9,
.rating-hearts:not(:checked) > label:hover.rating-9 ~ label {
    color: #b11010 !important
}

.rating-hearts:not(:checked) > label:hover.rating-10,
.rating-hearts:not(:checked) > label:hover.rating-10 ~ label {
    color: #b70a0a !important
}

.rating-hearts > label:active {
    position: relative;
    top: 2px;
    left: 2px
}

.rating-hearts:hover > label {
    transition: color .1s
}

.popover {
    padding: 0;
    width: 400px;
}

.popover.bottom {
    margin-top: 5px;
}

.popover .popover-title {
    text-align: center;
    font-size: 14px;
}

.popover .popover-content {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap
}


/* ratings END */

/* dropdowns */

select.dropdown {
    padding-left: 10px;
    border: 0;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    padding-right: 10px;
}

/* dropdowns END */

/* playing div */

#playing {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: -5px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px 0px 0px 0px;
    height: 26px;
    cursor: pointer;
    opacity: .8;
    transition: all .5s;
    display: none;
}

#playing:hover {
    opacity: 1;
}

#playing .fa {
    font-size: 12px;
    margin-right: 3px;
}

/* playing div END */

/* about */

#about {
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
}

#about .background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
}

#about .content {
    position: fixed;
    z-index: 51;
    width: 70vw;
    overflow: hidden;
    height: 90vh;
    margin: 5vh 15vw;
    padding: 40px;
}

#about .content h3 {
    text-align: center;
    font-size: 30px;
}

#about .content h3 .version {
    font-size: .4em;
    margin-left: 3px;
    position: absolute;
}

#about .content h4 {
    opacity: .45;
    margin: 15px 0 40px 0;
    font-size: 1.1em;
    font-style: italic;
    text-align: center;
}

#about .content h5 {
    opacity: .8;
}

#about .icons {
    text-align: center;
    margin-bottom: 20px;
}

#about .icons img {
    height: 74px;
    padding: 5px 10px;
    transition: all .5s;
    cursor: pointer;
    border-radius: 5px
}

#about .services .icons img,
#about .technologies .icons-2 img {
    height: 56px;
}

#about .repolink {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    opacity: .8;
    transition: all .5s;
}

#about .repolink:hover {
    opacity: 1;
}

/* about END */

/* legal */

#legal {
    position: fixed;
    z-index: 9997;
    width: 100vw;
    height: 100vh;
}

#legal .background {
    width: 100%;
    position: absolute;
    height: 100%;
}

#legal .content {
    width: 450px;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    margin: 25vh calc(50% - 225px);
}

#legal .warning {
    text-align: justify;
    padding: 15px;
}

#legal button {
    -webkit-appearance: none;
    border: none;
    font-weight: 800;
    height: 40px;
    width: 430px;
    transition: all .5s;
}

/* legal END */

/* discover */

#discover {
    min-height: 100vh;
}

#discover .disc-search {
    text-align: center;
    width: 65vw;
    margin: 25px auto 10px;
    padding-left: 60px;
    /* 55 navbar + item padding*/
}

#discover .disc-search input {
    width: 70%;
    padding: 5px;
    text-align: center;
}

#discover .disc-search .search {
    cursor: pointer;
}

#discover .disc-results .row .notfound {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    margin-top: 40px;
    font-style: italic;
    font-family: "Proxima Nova Semibold";
}

#discover .disc-proposal .categories,
#discover .disc-proposal .type {
    width: calc(40% + 55px);
    height: 60px;
    padding-left: 60px;
    margin: 0 auto;
    text-align: center;
}

#discover .disc-proposal .categories div {
    margin: 10px 25px;
    padding: 5px 0;
    width: calc(20vw - 50px);
    float: left;
    cursor: pointer;
    opacity: .6;
    transition: opacity .4s;
}

#discover .disc-proposal .categories div:hover,
#discover .disc-proposal .categories div.active:hover {
    opacity: .8;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#discover .disc-proposal .categories div.active {
    opacity: 1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

#discover .disc-proposal .type {
    width: calc(75% + 55px);
    height: 30px;
}

#discover .disc-proposal type div {
    margin: 10px 25px;
    padding: 5px 0;
    width: calc(20vw - 50px);
    float: left;
    border-radius: 50px;
    cursor: pointer;
    transition: all .4s;
}

#discover .disc-proposal .type div {
    float: left;
    cursor: pointer;
    transition: opacity .4s;
    padding: 0px 10px;
    width: 20%;
    opacity: .6;
    border-bottom-style: solid;
    border-bottom-width: 0px;
}

#discover .disc-proposal .type div:hover {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    opacity: .8;
}

#discover .disc-proposal .type div.active {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    opacity: 1;
}

#discover #disc-spinner {
    margin-left: 55px;
}

/* discover END */

/* row message */

.rowMessage {
    height: 100vh;
    width: 60%;
    padding-top: 15%;
    margin: 0 20%;
    text-align: center;
    font-size: 16px;
    opacity: 0.5;
}

/* row message END */
