@font-face {
  font-family: 'OpenDyslexic Regular';
  src: url('OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  size-adjust: 75%;
}

@font-face {
  font-family: 'OpenDyslexic Bold';
  src: url('OpenDyslexic-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  size-adjust: 70%;
}

@font-face {
  font-family: 'OpenDyslexic Mono';
  src: url('OpenDyslexic-Mono.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  size-adjust: 70%;
}

.dyslexic {
  --font: 'OpenDyslexic Regular'!important;
  --font-semibold: 'OpenDyslexic Bold'!important;
  --font-bold: 'OpenDyslexic Bold'!important;
  --font-default: 'OpenDyslexic Regular'!important;
  --font-mono: 'OpenDyslexic Mono'!important;
}