@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('Proxima Nova Alt Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('Proxima Nova Alt Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('Proxima Nova Semibold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal
}